<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List - RedStore</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
</head>
<body id="body">

<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/"><img th:src="@{/images/logo.png}" width="125px" src=""></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="/account">Account</a></li>
            </ul>
        </nav>
        <a href="/cart"><img th:src="@{/images/cart.png}" width="30px" height="30px"></a>
        <img th:src="@{/images/menu.png}" class="menu-icon" onclick="menutoggle()">
    </div>
</div>

<!------products list----->

<div class="list-container">
    <!--/*@thymesVar id="products" type="java.util.List"*/-->
    <h2 th:if="${products==null or products.isEmpty}">No products found!</h2>
    <div th:if="${products!=null and !products.isEmpty}">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
            <!--/*@thymesVar id="product" type="com.adel.ecommerce.model.Product"*/-->
            <tr th:each="product : ${products}">
                <td>
                    <div class="cart-info">
                        <img th:src="@{/restImages/{id}(id=${product.getPreviewImageId})}">
                        <div style="text-align: left">
                            <p th:text="${product.getName}"></p>
                            <small>Price: $<span th:text="${product.getPrice()}"></span>.00</small>
                        </div>
                    </div>
                </td>
                <td>
                    <span th:text="${product.getQuantity}"></span>
                </td>
                <td>
                    <a th:href="@{update/{id}(id=${product.id})}">Edit</a>
                    <form th:action="@{delete/{id}(id=${product.id})}" method="post">
                        <button class="delete-btn" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <p><a href="/admin/products/create" class="btn">Create product</a></p>
</div>


<script>
    var MenuItems=document.getElementById("MenuItems");
    var body = document.getElementById("body");
    function menutoggle(){
        MenuItems.classList.toggle("active");
        window.scrollTo(0,0);
        body.classList.toggle("lock");
    }
</script>


</body>
</html>